<mat-card>
  <mat-card-title>
    Login here
  </mat-card-title>
  <mat-card-content>
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input type="text" matInput #x />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="text" matInput />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="close(x.value)" color="primary" mat-raised-button>
            Login
          </button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
