<mat-toolbar color="accent" class="mat-elevation-z6">
  <mat-toolbar-row>
    <div class="nav">
      <h1>My Little App</h1>
      <ul class="custom-menu">
        <li>
          <button mat-button routerLink="/">Home</button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="projectsMenu">
            Projects
          </button>
        </li>
        <li></li>
        <li>
          <button mat-button (click)="openDialog()">
            Login
          </button>
        </li>
        <li>
          <button mat-button (click)="logout()">
            logout
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #projectsMenu="matMenu">
  <button mat-menu-item>Civil</button>
  <button mat-menu-item [matMenuTriggerFor]="aiMenu">AI</button>
  <button mat-menu-item>Tech</button>
</mat-menu>

<mat-menu #aiMenu="matMenu">
  <button mat-menu-item>Machine Learing</button>
  <button mat-menu-item>Deep Learing</button>
  <button mat-menu-item>Robotics</button>
</mat-menu>

<router-outlet></router-outlet>
